@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Serif TC", serif;
}

/*斷點只有max-width:375px 和min-width:992px是完整的*/
body {
  height: 100%;
  font-weight: 600;
  word-break: break-word;
  background-color: #f6f6f6;
}

body header nav div.nav_container div.navbar {
  background-color: #fff;
  width: 100vw;
  height: 62px;
  position: fixed;
  z-index: 10;
}

body header nav div.nav_container div.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
  padding-top: 20px;
  font-size: 14px;
}

body header nav div.nav_container div.navbar ul li a {
  text-decoration: none;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body header nav div.nav_container div.navbar ul li a#index {
  font-weight: 600;
}

body header nav div.nav_container div.navbar ul li a#follow {
  font-weight: 300;
}

body header nav div.nav_container div.navbar ul li a#support {
  background-color: #45b7c4;
  padding: 9px 20px;
  border-radius: 25px;
  color: white;
  font-weight: 300;
}

body header nav:nth-child(2) {
  display: none;
}

body header nav:nth-child(2) div.nav_container div.navbar ul div.nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body header nav:nth-child(2) div.nav_container div.navbar ul div.nav-left li {
  margin-left: 24px;
  font-size: 16px;
  font-weight: 400;
}

body header nav:nth-child(2) div.nav_container div.navbar ul div.nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body header nav:nth-child(2) div.nav_container div.navbar ul div.nav-right li {
  margin-left: 24px;
  font-size: 16px;
  font-weight: 400;
}

body section.section1 div.container {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  background-image: url(../imgs/d7db8001fcfb4a668768c4b12ea8be6a.jpg);
  background-size: cover;
  background-position: 50% 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  margin-bottom: 2px;
}

body section.section1 div.container div.news {
  position: absolute;
  bottom: 0;
  text-align: center;
  margin-bottom: 20px;
}

body section.section1 div.container div.news div.text a {
  text-decoration: none;
  color: #fff;
  margin: 15px auto;
  line-height: 26px;
  font-size: 12px;
  border-top: 2px solid #fff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}

body section.section1 div.container div.news h3 {
  font-size: 22px;
  width: 295px;
  margin: 0 auto;
  line-height: 33px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}

body section.section1 div.container div.news h3::after {
  content: "";
  display: block;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.516);
  width: 55.5%;
  margin: 10px auto;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
}

body section.section1 div.big-container {
  margin-bottom: 2px;
}

body section.section1 div.big-container div.container1 {
  position: relative;
  width: 100%;
  padding: 20px;
  background-image: url(../imgs/a4acbfdcbffd4ad28b1fee56dded38a3.jpg);
  background-size: cover;
  background-position: 50% 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  margin-bottom: 2px;
}

body section.section1 div.big-container div.container1 div.text {
  position: absolute;
  top: 20px;
  left: 20px;
  margin-top: 10px;
  text-align: center;
  line-height: 26px;
  font-size: 12px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}

body section.section1 div.big-container div.container1 div.text a {
  text-decoration: none;
  color: #fff;
  margin: 15px auto;
  line-height: 26px;
  font-size: 12px;
  border-top: 2px solid #fff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}

body section.section1 div.big-container div.container1 div.news {
  width: 100%;
}

body section.section1 div.big-container div.container1 div.news h3 {
  font-weight: 600;
  font-size: 18px;
  margin: 0 auto;
  margin-top: 100px;
  line-height: 27px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}

body section.section1 div.big-container div.container2 {
  position: relative;
  width: 100%;
  padding: 20px;
  background-image: url(../imgs/c6a14e7f68bc40ae9aa3e8d73ce14072.jpg);
  background-size: cover;
  background-position: 50% 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  margin-bottom: 2px;
}

body section.section1 div.big-container div.container2 div.text {
  position: absolute;
  top: 20px;
  left: 20px;
  margin-top: 10px;
  text-align: center;
  line-height: 26px;
  font-size: 12px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}

body section.section1 div.big-container div.container2 div.text a {
  text-decoration: none;
  color: #fff;
  margin: 15px auto;
  line-height: 26px;
  font-size: 12px;
  border-top: 2px solid #fff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}

body section.section1 div.big-container div.container2 div.news {
  width: 100%;
}

body section.section1 div.big-container div.container2 div.news h3 {
  font-weight: 600;
  font-size: 18px;
  margin: 0 auto;
  margin-top: 100px;
  line-height: 27px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}

body section.section1 div.big-container div.container3 {
  position: relative;
  width: 100%;
  padding: 20px;
  background-image: url(../imgs/3a929fc66eab4a21a265a3b680785fd3.jpg);
  background-size: cover;
  background-position: 50% 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  margin-bottom: 2px;
}

body section.section1 div.big-container div.container3 div.text {
  position: absolute;
  top: 20px;
  left: 20px;
  margin-top: 10px;
  text-align: center;
  line-height: 26px;
  font-size: 12px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}

body section.section1 div.big-container div.container3 div.text a {
  text-decoration: none;
  color: #fff;
  margin: 15px auto;
  line-height: 26px;
  font-size: 12px;
  border-top: 2px solid #fff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}

body section.section1 div.big-container div.container3 div.news {
  width: 100%;
}

body section.section1 div.big-container div.container3 div.news h3 {
  font-weight: 600;
  font-size: 18px;
  margin: 0 auto;
  margin-top: 100px;
  line-height: 27px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}

body section.section2 {
  margin-top: 10px;
  padding: 0 20px;
  width: 100%;
  margin-bottom: 26px;
}

body section.section2 div.news-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px 8px;
  border-top: 1px solid rgba(51, 51, 51, 0.303);
}

body section.section2 div.news-container div.left-side {
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
}

body section.section2 div.news-container div.left-side div.small-text {
  margin-bottom: 8px;
}

body section.section2 div.news-container div.left-side div.small-text a {
  font-size: 12px;
  color: #818181;
  border-top: 2px solid #b8b8b8;
  text-decoration: none;
  display: inline-block;
  padding-top: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body section.section2 div.right-side {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
}

body section.section2 div.right-side img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 24px;
}

body section.section2 div.right-side img#circle {
  border-radius: 50%;
}

body section.section2 div.right-side#message-4::after {
  content: "4";
  display: block;
  width: 36px;
  height: 36px;
  background-color: #db4b4b;
  position: absolute;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  color: #fff;
  top: 0;
  right: 0;
  text-align: center;
  z-index: 2;
}

body section.editor-choice {
  padding: 20px;
  background-color: black;
  margin-bottom: 48px;
}

body section.editor-choice h2 {
  color: #fff;
  margin-bottom: 30px;
  margin-top: 10px;
  font-size: 20px;
}

body section.editor-choice div.ec-container div.container1 {
  position: relative;
  width: 100%;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  margin-bottom: 16px;
}

body section.editor-choice div.ec-container div.container1 div.background {
  padding: 20px;
  background-image: url(../imgs/b58de4f82d9b454eb14f50421799b018.jpg);
  background-size: cover;
  background-position: 50% 50%;
  height: 100%;
}

body section.editor-choice div.ec-container div.container1 div.background#C2 {
  background-image: url(../imgs/240b7144e1ef4cc0986223923de33bc4.jpg);
}

body section.editor-choice div.ec-container div.container1 div.background#C3 {
  background-image: url(../imgs/aee0f96bc99f4345b306e0c761f1c66c.png);
}

body section.editor-choice div.ec-container div.container1 div.background#C4 {
  background-image: url(../imgs/197ce48648cd486199eb3c0807889260.jpg);
}

body section.editor-choice div.ec-container div.container1 div.background#C5 {
  background-image: url(../imgs/11411cf11b8548548aec8006d233ace8.jpg);
}

body section.editor-choice div.ec-container div.container1 div.background#C6 {
  background-image: url(../imgs/11f381bcdad04eff9d2993f2eb67cf8b.jpg);
}

body section.editor-choice div.ec-container div.container1 div.background#C7 {
  background-image: url(../imgs/1b0897170f54445fbb24c97307e54063.jpg);
}

body section.editor-choice div.ec-container div.container1 div.background#C8 {
  background-image: url(../imgs/1b6f55c8033b4818b0fd77814752a9c4.jpg);
}

body section.editor-choice div.ec-container div.container1 div.background#C9 {
  background-image: url(../imgs/1ced8662cf664fd5b321453df600b5e1.jpg);
}

body section.editor-choice div.ec-container div.container1 div.text {
  position: absolute;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}

body section.editor-choice div.ec-container div.container1 div.text a {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  border-top: 2px solid #ffffff;
  text-decoration: none;
  display: inline-block;
  padding-top: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body section.editor-choice div.ec-container div.container1 div.news {
  width: 100%;
}

body section.editor-choice div.ec-container div.container1 div.news h3 {
  font-weight: 600;
  font-size: 18px;
  margin: 0 auto;
  margin-top: calc(50% - 94px);
  line-height: 27px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}

body section.feature div.f-container div.section-title {
  padding: 0 20px;
}

body section.feature div.f-container div.section-title h2 {
  width: 100%;
  font-size: 20px;
  position: relative;
  margin-bottom: 24px;
  z-index: 1;
  text-align: center;
}

body section.feature div.all-content {
  padding: 0 40px;
  text-align: right;
  font-size: 14px;
  font-weight: 400;
  color: #222;
}

body section.feature div.all-content span {
  border-top: 1px solid #b8b8b8;
  padding-top: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body section.feature div.all-content span:hover {
  color: #45b7c4;
  cursor: pointer;
}

body div.first-news a.pic::after {
  content: "";
  display: block;
  width: 100%;
  padding-top: 50%;
  background-image: url(../imgs/d7db8001fcfb4a668768c4b12ea8be6a.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

body div.first-news div.first-content {
  margin: 0 20px;
  padding: 24px 48px;
  text-align: center;
  background-color: #fff;
  position: relative;
  top: -24px;
}

body div.first-news div.first-content a {
  font-size: 12px;
  text-decoration: none;
  color: #818181;
  border-top: 2px solid #b8b8b8;
  padding-top: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body div.first-news div.first-content h3 {
  font-size: 18px;
  text-align: center;
  line-height: 27px;
  margin-bottom: 12px;
  margin-top: 12px;
}

body div.first-news div.first-content p {
  color: #818181;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body div.flex-container div.flex-news {
  padding: 0 20px;
  margin-bottom: 40px;
}

body div.flex-container div.flex-news a.pic::after {
  content: "";
  display: block;
  width: 100%;
  padding-top: 62%;
  background-image: url(../imgs/dd881ca95d9c4aaab2d324486252342a.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  margin-bottom: 16px;
}

body div.flex-container div.flex-news a.pic#P2::after {
  background-image: url(../imgs/deca6e7984b04d8992d069eefa1bf157.jpg);
}

body div.flex-container div.flex-news a.pic#P3::after {
  background-image: url(../imgs/240b7144e1ef4cc0986223923de33bc4.jpg);
}

body div.flex-container div.flex-news a.pic#P4::after {
  background-image: url(../imgs/92a18a04d3454c639de0ca1287afb18c.jpg);
}

body div.flex-container div.flex-news a.pic#P5::after {
  background-image: url(../imgs/7866cd27512b40899c200a08705cd79b.jpg);
}

body div.flex-container div.flex-news a.pic#P6::after {
  background-image: url(../imgs/4c2bed359aff4810aae67360bb354d0c.jpg);
}

body div.flex-container div.flex-news a {
  text-decoration: none;
  color: #818181;
  font-size: 12px;
  border-top: 2px solid #b8b8b8;
  padding-top: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body div.flex-container div.flex-news h3 {
  font-size: 16px;
  text-align: center;
  line-height: 27px;
  margin-bottom: 16px;
  margin-top: 12px;
  color: #222;
  text-align: left;
}

body div.flex-container div.flex-news p {
  color: #818181;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body div.flex-container div.flex-news div.author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  line-height: 18px;
  padding-top: 12px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body div.flex-container div.flex-news div.author img {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 4px;
}

body section.suscribe {
  width: 100vw;
  margin-top: 48px;
  padding: 32px 20px;
  text-align: center;
  background-color: #fff;
  margin-bottom: 48px;
}

body section.suscribe div.container {
  background-color: #fff;
  position: relative;
  max-width: 375px;
  margin: auto;
}

body section.suscribe div.container p {
  font-size: 12px;
  color: #818181;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 6px;
  position: relative;
}

body section.suscribe div.container h2 {
  position: relative;
  display: block;
  background-color: #fff;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  z-index: 2;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body section.suscribe div.container h2::after {
  content: "";
  display: block;
  width: 20%;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 50%;
  z-index: 1;
}

body section.suscribe div.container h2::before {
  content: "";
  display: block;
  width: 20%;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 50%;
  right: 10px;
  z-index: 1;
}

body section.suscribe div.email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 24px;
}

body section.suscribe div.email input {
  border: none;
  background-color: #f6f6f6;
  padding: 0 16px;
  height: 40px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body section.suscribe div.email button {
  border: none;
  background-color: #f6f6f6;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body section.suscribe div.email button::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-image: url(../imgs/image2.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 10px;
}

body section.hongkong {
  padding: 32px 40px;
  background-color: #000;
}

body section.hongkong div.container {
  color: #fff;
}

body section.hongkong div.container div.head-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
}

body section.hongkong div.container div.head-line h2 {
  font-size: 20px;
}

body section.hongkong div.container div.head-line span {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

body section.hongkong div.container div.head-line span::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-image: url(../imgs/image2_copy.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 10px;
  color: #fff;
}

body section.hongkong div.container ul {
  list-style-type: none;
}

body section.hongkong div.container ul li {
  padding: 16px 0;
  border-bottom: 1px solid #818181;
}

body section.hongkong div.container ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #fff;
}

body section.hongkong div.container ul li a h4 {
  font-size: 15px;
  line-height: 22.5px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: 600;
}

body section.hongkong div.container ul li a span {
  font-size: 12px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.5);
  margin-right: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
}

body section.swiper {
  margin-top: 32px;
  padding: 32px 20px;
  background-color: #fff;
}

body section.swiper h2 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  background-color: white;
  z-index: 10;
  position: relative;
  display: inline;
  padding: 0 10px;
}

body section.swiper div.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
  position: relative;
  overflow: scroll;
}

body section.swiper div.container div.swiper {
  position: relative;
  width: 167px;
  height: 217px;
  margin-left: 15px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

body section.swiper div.container div.swiper:nth-child(1) {
  margin-left: 0;
}

body section.swiper div.container div.swiper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body section.swiper div.container div.swiper div.card {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  width: 100%;
  background-color: #222;
  color: #fff;
  padding: 10px;
}

body section.swiper div.container div.swiper div.card span {
  width: 80%;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
}

body section.swiper div.container div.swiper div.card button {
  border: none;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.24);
  color: #fff;
  font-size: large;
  font-weight: 300;
}

body section.swiper div.container::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: -47px;
  z-index: 0;
}

body section.hot-news {
  padding: 48px 20px;
}

body section.hot-news h2 {
  font-size: 20px;
  position: relative;
  margin-bottom: 24px;
  font-weight: 600;
  color: #222;
  padding-bottom: 10px;
}

body section.hot-news div.headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}

body section.hot-news div.headline h3 {
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #222;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

body section.hot-news div.headline span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  color: rgba(184, 184, 184, 0.5);
  font-style: italic;
}

body section.hot-news div.headline:nth-child(1) {
  padding-top: 0;
}

body section.tag {
  width: 100%;
  margin-bottom: 48px;
  padding: 0 40px;
}

body section.tag div.container {
  position: relative;
  margin-bottom: 20px;
}

body section.tag div.container::after {
  content: "";
  display: inline-block;
  height: 1px;
  width: 100%;
  background-color: #000;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

body section.tag div.container h2 {
  font-size: 20px;
  margin-bottom: 24px;
  background-color: #f6f6f6;
  display: inline;
  padding: 0 10px;
}

body section.tag div.tag-list {
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
}

body section.tag div.tag-list div.row {
  width: 250%;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body section.tag div.tag-list div.row div.block {
  padding: 0 8px;
  margin: 0 20px;
  word-break: break-word;
  margin-bottom: 16px;
  height: 60px;
  background-color: rgba(203, 233, 236, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body section.tag div.tag-list div.row div.block a {
  padding: 0 16px;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-decoration: none;
  color: #222;
  text-align: center;
}

body footer {
  background-color: #151719;
  padding: 40px 0;
}

body footer div.container {
  padding-right: 40px;
}

body footer div.container div.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

body footer div.container div.icon svg {
  width: 24px;
  height: 24px;
  margin-left: 40px;
}

body footer div.list {
  width: 100%;
  color: #fff;
  padding: 0 20px;
}

body footer div.list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  list-style-type: none;
}

body footer div.list ul li {
  width: 20%;
  font-size: 14px;
  font-weight: 300;
  line-height: 32px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* 992以上 */
@media screen and (min-width: 992px) {
  body header nav:nth-child(1) {
    display: none;
  }
  body header nav:nth-child(2) {
    display: block;
  }
  body header nav:nth-child(2) a.logo {
    position: relative;
    bottom: 5px;
  }
  body header nav:nth-child(2) .nav_container .navbar ul {
    padding-left: 110px;
    padding-right: 110px;
  }
  div.big-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  div.big-container div.column-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6%;
            flex: 0 0 66.6%;
  }
  div.big-container div.container1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3%;
            flex: 0 0 33.3%;
  }
  div.big-container div.md-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  div.ec-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    overflow: scroll;
  }
  div.ec-container div.container1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3%;
            flex: 0 0 33.3%;
  }
  div.first-news {
    padding: 0 55px;
  }
  div.flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 40px;
  }
  div.flex-container div.flex-news {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33%;
            flex: 0 0 33.33%;
  }
  body section.section1 div.container {
    padding-bottom: 50%;
  }
  body section.section1 div.container div.news {
    bottom: 10%;
  }
  body section.section1 div.container div.news div.text {
    margin-bottom: 20px;
  }
  body section.section1 div.container div.news div.text a {
    font-size: 14px;
  }
  body section.section1 div.container div.news h3 {
    font-size: 40px;
    width: 100%;
  }
  body section.section1 div.container div.news h3::after {
    margin-top: 20px;
  }
  body section.section2 {
    padding: 0 40px;
  }
  body section.section2 div.news-container {
    padding-left: 20px;
    padding-right: 20px;
  }
  body section.section2 div.news-container div.content {
    font-size: 20px;
  }
  body section.suscribe div.container {
    border: 1px solid rgba(0, 0, 0, 0.16);
    padding: 48px;
    max-width: 600px;
  }
  body section.hongkong div.container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 10px;
  }
  body section.hongkong div.container ul li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    padding-left: 10px;
    padding-right: 10px;
  }
  body section.hongkong div.container ul li span#no-border {
    border-bottom: 1px solid #818181;
  }
  body section.hot-news {
    padding: 40px 40px;
  }
  body section.hot-news h2 {
    background-color: #f6f6f6;
    display: inline-block;
    z-index: 2;
    position: relative;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 50%;
    padding-left: 10px;
    padding-right: 10px;
  }
  body section.hot-news div.headline-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body section.hot-news div.headline-container::before {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: #222;
    padding: 0 40px;
    position: relative;
    top: -55px;
    z-index: -1;
  }
  body section.hot-news div.headline-container div.headline {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    padding: 0 20px;
    padding-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 24px;
  }
  body section.hot-news div.headline-container div.headline span {
    margin-left: 24px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
  }
  body section.hot-news div.headline-container div.headline#non-padding {
    padding: 0 20px 10px;
  }
  body section.hot-news div.headline-container ul li {
    font-size: 15px;
  }
  body footer div.icon {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  body footer div.list {
    padding-bottom: 50px;
    padding-left: 100px;
  }
  body footer div.list ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50%;
    margin: auto;
    padding: 0 20px;
  }
  body footer div.list ul li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
  }
  body section.tag div.tag-list div.row {
    width: 80%;
    margin: auto;
  }
}

/* 768-991 */
@media screen and (min-width: 768px) and (max-width: 991px) {
  div.big-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  div.big-container div.column-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  div.big-container div.container1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  div.ec-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  div.ec-container div.container1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  body section.feature div.flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body section.feature div.flex-container div.flex-news {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33%;
            flex: 0 0 33.33%;
  }
}

/* 576以上 */
@media screen and (min-width: 576px) {
  section.section2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  section.section2 div.news-container {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    padding: 0 8px;
  }
  div.ec-container div.container1 {
    width: 100%;
  }
  div.ec-container div.container1 div.background {
    width: 100%;
  }
  a.pic::after {
    padding-top: 50%;
  }
}

/* 576以下 */
@media screen and (max-width: 576px) {
  div.ec-container div.container1 {
    width: 100%;
  }
  div.ec-container div.container1 div.background {
    width: 100%;
  }
}

/* 1200以上 */
@media screen and (min-width: 1200px) {
  section.feature {
    margin: 0 55px;
  }
  section.feature div.first-news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 40px;
    margin-bottom: 50px;
  }
  section.feature div.first-news a.pic {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
  }
  section.feature div.first-news a.pic::after {
    padding-top: 62%;
  }
  section.feature div.first-news div.first-content {
    width: 373px;
    height: 339px;
    padding: 64px 48px;
    margin: auto;
    top: 10px;
    right: 10%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33%;
            flex: 0 0 33.33%;
  }
  section.feature div.first-news div.first-content h3 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
  }
  section.feature div.first-news div.first-content a {
    font-size: 14px;
  }
  section.feature div.first-news div.first-content p {
    font-size: 14px;
  }
  body section.swiper {
    overflow: scroll;
    padding-left: 110px;
    padding-right: 110px;
  }
  body section.hongkong {
    padding-left: 110px;
    padding-right: 110px;
  }
  body section.hot-news {
    padding-left: 110px;
    padding-right: 110px;
  }
  body section.hot-news h2 {
    text-align: center;
    position: relative;
    bottom: 10px;
  }
  body section.editor-choice {
    padding-left: 110px;
    padding-right: 110px;
  }
}
/*# sourceMappingURL=style.css.map */